.git
.gitignore
.dart_tool/
.idea/
build/
android/
ios/
linux/
macos/
test/
web/
windows/
node_modules/
__pycache__/
*.pyc
.venv/
app/app/
*.apk
*.aab
*.iml
pubspec.lock
pubspec.yaml
README.md
analysis_options.yaml
devtools_options.yaml
